:root {
  /* Colors */
  --primary-color: #3e54a3;
  --secondary-color: #fa4529;
  --tertiary-color: #ddd;
  --alternate-color: #aaa;

  /* Background Colors */
  --primaryBG: #403f65;
  --secondaryBG: #84bbe4;

  /* Font Colors */
  --primary-text-color: #222;
  --secondary-text-color: #eee;

  /* Button Colors */
  --primary-btn-color: #111;
  --secondary-btn-color: #222;

  /* Fonts Family */
  --primary-family: "Libre Franklin", sans-serif;
  --secondary-family: "Martel", serif;
  --tertiary-family: "Yantramanav", sans-serif;

  /* Typograpy */
  --title-1-fw: 600;
  --title-1-fs: 2.4rem;
  --title-1-ls: 1;
  --title-1-fc: var(--primary-text-color);
  --title-1-ff: var(--primary-family);
  --title-2-fw: 600;
  --title-2-fs: 2.2rem;
  --title-2-ls: 1;
  --title-2-fc: var(--primary-text-color);
  --title-2-ff: var(--primary-family);
  --title-3-fw: 600;
  --title-3-fs: 2rem;
  --title-3-ls: 1;
  --title-3-fc: var(--primary-text-color);
  --title-3-ff: var(--primary-family);
  --subtitle-1-fw: 600;
  --subtitle-1-fs: 1.8rem;
  --subtitle-1-ls: 1;
  --subtitle-1-fc: var(--primary-text-color);
  --subtitle-1-ff: var(--secondary-family);
  --subtitle-2-fw: 600;
  --subtitle-2-fs: 1.6rem;
  --subtitle-2-ls: 1;
  --subtitle-2-fc: var(--primary-text-color);
  --subtitle-2-ff: var(--secondary-family);
  --body-text-fw: ;
  --body-text-fs: 1.4rem;
  --body-text-ls: 1;
  --body-text-fc: var(--primary-text-color);
  --body-text-ff: var(--tertiary-family);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: var(--body-text-fs);
  font-family: var(--body-text-ff);
}

/* GENERAL */
.container {
  width: 90%;
  min-width: 375px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}

/* HEADER */
header {
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryBG);
}
header .btnmenu {
  flex: 0.5 1 1rem;
  position: static;
}
header .btnmenu svg {
  transition: 500ms;
}
header .btnmenu input:checked ~ nav {
  top: 5.5rem;
  background-color: white;
}
header .btnmenu input {
  display: none;
}
header .btnmenu input:checked ~ label svg {
  transform: rotate(90deg);
}
header nav {
  width: 100%;
  flex: 2 1 50rem;
  position: absolute;
  top: -100%;
  transition: 300ms;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.502);
}
header nav ul {
  height: 18rem;
  text-align: center;
}
header nav li {
  padding: 2rem;
}
header nav a {
  font-family: var(--title-2-ff);
  font-weight: var(--title-2-fw);
  font-size: var(--title-2-fs);
  text-align: center;
}
