:root {
  /* Colors */
  --blueBG: #3e54a3;
  --hover-font: #fa4529;

  /* Background Colors */
  --primaryBG: #403f65;
  --secondaryBG: #84bbe4;
  --tertiaryBG: #d2ecfe;
  --alternateBG: #edce74;

  /* Font Colors */
  --primaryTextColor: #222;
  --secondaryTextColor: #eee;

  /* Typograpy */
  /* --title-1: "Amiri", serif; */
  --title-1: "Arimo", serif;

  --title-2: "Cabin", sans-serif;
  --body-text: "Martel Sans", sans-serif;

  /* Custom Colors */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--body-text);
}

/* GENERAL */
.container {
  width: 90%;
  min-width: 375px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    width: 80%;
  }
}

/* HEADER */
.header .logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .header .logo-container label {
    display: none;
  }
}
.header #btn-menu {
  display: none;
}
.header #btn-menu:checked ~ .navbar {
  margin-left: -10%;
}
.header .logo-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .logo-mobile img {
  width: 50%;
}
.header .logo-mobile span {
  margin-top: 10px;
  color: var(--blueBG);
  font-family: var(--title-1);
  font-weight: 800;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .header .logo-mobile {
    display: none;
  }
}
.header .logo-desktop {
  display: none;
}
@media (min-width: 992px) {
  .header .logo-desktop {
    display: block;
  }
}

/* NAVBAR */
.navbar {
  width: 110%;
  height: 75%;
  margin-left: -120%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 110px;
  transition: 300ms;
  background-color: var(--blueBG);
}

@media (min-width: 992px) {
  .navbar {
    width: 50%;
    flex-direction: row;
    position: static;
    background-color: #fff;
  }
}
.navbar a {
  color: white;
  font-family: var(--title-2);
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 992px) {
  .navbar a {
    color: #000;
  }
}

/***** MAIN *****/
/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 700px;
  margin-top: 6rem;
  display: block;
  font-family: var(--title-1);
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  letter-spacing: -0.04rem;
}
@media (min-width: 576px) {
  .hero-title {
    font-size: 5rem;
    letter-spacing: 0.03rem;
  }
}
@media (min-width: 768px) {
  .hero-title {
    margin-top: 3rem;
    font-size: 6.5rem;
    line-height: 8rem;
    letter-spacing: 0.06rem;
  }
}
.hero img {
  width: 40%;
  margin-top: 5rem;
  border-radius: 100%;
}
@media (min-width: 576px) {
  .hero img {
    width: 35%;
  }
}
@media (min-width: 768px) {
  .hero img {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .hero img {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .hero img {
    width: 15%;
  }
}

/* Practice Section */
#practice {
  margin-top: 6rem;
  padding: 3rem 0;
  text-align: center;
  background-color: var(--secondaryBG);
}
#practice > p {
  font-family: var(--title-1);
  font-size: 4rem;
}
.card {
  height: 40rem;
  margin-top: 2rem;
  flex: 1 1 auto;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  .card {
    height: 45rem;
  }
}
@media (min-width: 768px) {
  .card {
    flex: 0.2 1 300px;
  }
}
@media (min-width: 992px) {
  .card {
    flex: 0.3 1 375px;
  }
}
@media (min-width: 1200px) {
  .card {
    flex: 0.45 1 375px;
  }
}
.card img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card .text {
  margin: 2rem;
}
.card .text span {
  font-family: var(--title-2);
  font-weight: 600;
  font-size: 2rem;
}
.card .text p {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: justify;
}

/* FLEXBOX - WRAPPER */
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
