:root {
  /* ### Primary */

  --DarkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* ### Neutral */

  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* ## Typography */
  --Fraunces: "Fraunces", serif;
  --Montserrat: "Montserrat", sans-serif;
}

/* MAIN STYLES */
body {
  background-color: var(--Cream);
  font-size: 14px;
  font-family: var(--Montserrat);
  color: var(--DarkGrayishBlue);
}

/* CARD CONTAINER */
.card-container {
  width: 90%;
  min-width: 375px;
  max-width: 1440px;
  margin: 15px auto;
  border-radius: 10px;
  background-color: #fff;
}
.card-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.card-container .card-parragraph {
  padding: 20px;
}
.card-container .card-title {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.card-container .card-content span {
  margin-top: 10px;
  display: inline-block;
  color: var(--VeryDarkBlue);
  font-family: var(--Fraunces);
  font-weight: 700;
  font-size: 2rem;
}
.card-container .card-content p {
  margin-top: 15px;
  font-size: 0.9rem;
  line-height: 1.5;
}
.card-container .card-price {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.card-container .card-price span {
  color: var(--DarkCyan);
  font-family: var(--Fraunces);
  font-weight: 700;
  font-size: 2rem;
}
.card-container .card-price p {
  margin-left: 15px;
  text-decoration: line-through;
}
button {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: var(--DarkCyan);
}
button .svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(88%) sepia(100%) saturate(21%) hue-rotate(293deg)
    brightness(106%) contrast(107%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
