// FONTS
$plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

// COLORS
$blue-hover: #666ca3;
$blue: #13183f;
$main-orange: #f74780;
$main-pink: #ffa7c3;
$primary-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$secondary-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$text-gray: #83869a;
$white: #ffffff;
